.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.button {
  margin-top: 50px;
  padding: 12px;
  background-color: #000;
  cursor: pointer;
}

.button > span {
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
}